
/* Style de la bannière statistiques */
.banniere, .banniere-statistiques{
  width: 100%;
}

/* Style du content global */
.content{
  background-color: rgba(211,211,211,0.2);
  width: 100%;
}

/* Style de la table vue globale */
.nbrglobal{
  font-size:20px;
}

/* Style des bouton d'export */
h2{
  margin-left: 3em !important;
}
button{
  border-radius:5% !important;
  margin-left: 3em !important;
}
button a{
  color:black;
  text-decoration:none;
}
button a:hover{
  color: white;
}

/* Style des icônes de table */
.logo-statistiques{
  width: 150px;
  height: 150px;
  margin-right: 4em;
  margin-top: 3em;
}

/* Style de la table globale */
.tableGlobale{
  margin-left: 10em;
}
.reload{
  width: 50px;
  height: 50px;
  margin-left: 4em;
  margin-top: 2em;
}
.reload:hover{
-webkit-animation: rotate(360deg) infinite;
        animation: rotate(360deg) infinite;
}
/* Style des tables */
.tableContainer1,.adminexport{
  padding-top:3em !important;
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.tableContainer1,.tableContainer2,.tableContainer3{
  margin-left:4em;
  max-width: 90%;
  margin-bottom: 2em;
  background-color: rgba(211,211,211,0.4);
  padding: 15px;
}
.tableContainer3{
  margin-bottom: 30px;
}

.master_title_table{
  background-color:rgb(228,238,245);
}
td,th{
  text-align: center !important;
  padding:5px;
}
tr,td,th{
  border:1px solid black;
}
table{
  border:3px solid black;
  box-shadow:3px 3px grey;
}
